body { 
    background-color: #FBE4FF;
    margin: 0 auto;
}
.top-darkblue {
    height: 65px;
    color: white;
    background-color: #243B93;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 50px;
    width: 140px;
    border-radius: 20px;
    margin-right: 159px;
}
.top {
    width: 170px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;  
    color: white; 
    text-decoration: none;
    letter-spacing: 2.5px;
    text-align: justify;
}
.UA {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;  
    color: white; 
    letter-spacing: 2.5px;
    text-align: justify;
    margin-left: 10px;
}
.top-blue {
    background-color: #BFF0FF;
    height: auto;
}
.fixed-width {
    width: 1321px;
    max-height: 85px;
    margin: auto;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding-top: 16px;
}
.top-white {
    max-width: 1321px;
    max-height: 57px;
    padding: 10px;
    background-color:#FFF;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 26px auto 0;
}
.box {
    width: 1321px;
    height: 300px;
    display: flex;
    margin: 25px auto 0;
    position: relative;
    background: linear-gradient(93deg, #ADCBD4 0%, #00AEE5 100%);
}
.content {
    flex-direction: column;
    width: 739px;
    margin-right: 48px;
}
.pic {
    width: 447px;
    height: 246px;
    margin: 33px 28px 21px 52px;
}
.name {
    height: 47px;
    margin-top: 4px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    color:#353C57;
    line-height: normal;
    text-align: left;
}
.line {
    height: 3px;
    background-color:#EDFBFF;
}
.text {
    height: 205px;
    background-color:#EDFBFF;
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 21px 0;
    line-height: normal;
    padding-left: 16px;
    padding-top: 13px;
    padding-right: 118px;
}
.star {position: absolute;
    top: 0;
    right: 0;
}
.button {
    position: absolute;
    bottom: 5px;
    right: -25px;
    height:46px;
    width: 210px;
    border-radius: 30px;
    background-color: #243B93;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button a {
    font-size: 24px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}
.box:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.box:hover path {fill: #FFF500;}
.box:hover .button {background-color: #EF075B;}

.up {width: 101px;
    height: 101px;
    border-radius: 50%;
    position: fixed;
    bottom: 86px;
    right: 238px;
}
.cabinet {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    margin-top:42px ;
}
.data {
    margin: 42px auto 0;
    height: 496px;
    width: 1321px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.50) 100%); ;
    position: relative;
}
.data img {
    width: 196px;
    height: 184px;
    position: absolute;
    left: 167px;
    top: 77px;
}
.change {
    left:148px;
    top: 296px;
}
.tool {
    left: 148px;
    top: 372px;
}
.button:hover {background-color: #EF075B;}

.cnts {
    position: absolute;
    right: 81px;
    top: 46px;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    height: 80px;
    font-family: 'PT Sans', sans-serif;
}
.cont-inf{
    border-bottom: 4px solid white;
    height: 60px;
    padding-top: 15px;
    vertical-align: bottom;
    list-style: none;
}
.last-line {
    border: 0;
    list-style: none;
}
.italic {font-weight: 400;}

.exit {
    position: relative;
    margin: 20px auto 0;
    width: 174px;
    height: 50px;
    border-radius: 30px;
}
.cont {background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);}

.contacts { 
    height: 340px;
    width: 1321px;
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 15px;
    flex-direction: row;
    font-size: 32px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}
.contacts > * {
    width: 30%;
    margin-top: 25px;
    }
.mail-info {
    padding-top: 35px;
    width: 20%;
}
.map {
    width:499px;
    height: 290px;
    margin-left: 70px;
}
li {list-style: none;}

.line1 { border-bottom: 4px solid black;}

.end {
    background-color: #243B93;
    color: white;
    font-size: 16px;
    height: 65px;
}
.footer {
    margin: 0 auto;
    width: 1321px;
    padding-top: 25px;
}